{% extends "AuthApp/base.html" %}
{% block title %}
    Add Details
{% endblock title %}
{% block content %}

{% if edit %}
    {% url "edit-employee" user as form_action_url %}
{% else %}
    {% url "add-details" user as form_action_url %}
{% endif %}

<div class="d-flex flex-column w-100 vh-100 justify-content-center align-items-center">
    <div class="card">
        <h2 class="card-header text-center">Add Details for {{user}}</h2>
        <form method="post" action = '{{form_action_url}}'>
            {% csrf_token %}
            <div class="card-body">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" value="{{user.name}}" name="name">
            </div>
            <div class="card-body">
                <label for="department" class="form-label">department</label>
                <input type="text" class="form-control" id="department" value="{{user.department}}" name="department">
            </div>
            <div class="card-body">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" value="{{user.address}}" name="address">
            </div>
            <div class="card-body">
                <label for="phone" class="form-label">phone</label>
                <input type="number" min="0" max="9999999999" class="form-control" value="{{user.phone}}" id="phone" name="phone">
            </div>
            <div class="card-footer w-100">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}