{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/codeEditor.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
    <script src="{% static 'scripts/deck.js' %}"></script>
</head>
<body>
    {% include "HomePage/navbar.html" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-nav">
                <button class="btn btn-primary me-2 mb-2 mb-lg-0" onclick="saveFileContent()">Save</button>
                <button class="btn btn-secondary me-2 mb-2 mb-lg-0" id="previewbtn" onclick="previewFileContent()">Preview</button>
                <button class="btn btn-info me-2 mb-2 mb-lg-0 back-button" id="backbtn" onclick="showFileList()">Back to File List</button>
                <button class="btn btn-success mb-2 mb-lg-0" onclick="createNewFile()">New File</button>
            </div>
            <div class="ms-auto d-flex align-items-center gap-3">
                <button class="btn btn-warning d-flex justify-content-center align-items-center" id="run" onclick="runCode()">
                    <span class="spinner-border spinner-border-sm d-none" id="loader" role="status" aria-hidden="true"></span>
                    Run
                </button>
                <select style="cursor: pointer;" id="language-select" class="form-select" onchange="changeLanguage()">
                    <option value="md">Markdown</option>
                    <option value="js">JavaScript</option>
                    <option value="py">Python</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="json">JSON</option>
                    <option value="tsx">TypeScript</option>
                </select>
            </div>
        </div>
    </nav>

    <div class="home">
        <input type="hidden" id="file_id">
        <div id="file-tree" style="width:25%;"></div>

        <div class="preview">
            <iframe src="" class="w-100 h-100 border-0"></iframe>
        </div>

        <div class="content-area" style="width:75%;">
            <h3>File Content</h3>
            <div id="editor"></div>
            <input type="hidden" id="file-name">
        </div>
    </div>

    <script>
        $(function() {
            
            $('#file-tree').jstree({
                'core': {
                    'data': {
                        'url': '{% url "file-tree" %}',
                        'dataType': 'json'
                    },
                    'themes': {
                        'icons': true
                    }
                },
                'plugins': ['types', 'state', 'contextmenu', 'dnd', 'types'],
                'contextmenu': {
                    'items': function (node) {
                        return {
                            'Create Folder': {
                                'label': 'Create Folder',
                                'action': function (obj) {
                                    createNode(node, 'folder');
                                }
                            },
                            'Create File': {
                                'label': 'Create File',
                                'action': function (obj) {
                                    createNode(node, 'file');
                                }
                            },
                            'Rename': {
                                'label': 'Rename',
                                'action': function (obj) {
                                    $('#file-tree').jstree(true).edit(node);
                                }
                            },
                            'Delete': {
                                'label': 'Delete',
                                'action': function (obj) {
                                    deleteNode(node);
                                }
                            }
                        };
                    }
                }
            });
            
            $('#file-tree').on('select_node.jstree', function (e, data) {
                if (data.node.original.type === 'file') {
                    loadFileContent(data.node.id);
                }
            });
            
            $('#file-tree').on('rename_node.jstree', function (e, data) {
                const newName = data.text; 
                const nodeId = data.node.id; 
                
                $.ajax({
                    url: '{% url "rename-node" %}',
                    type: 'POST',
                    data: JSON.stringify({
                        'id': nodeId,
                        'new_name': newName
                    }),
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': csrf_token 
                    },
                    success: function(response) {
                        $('#file-tree').jstree(true).refresh(); 
                    },
                    error: function(xhr, status, error) {
                        console.error('Error renaming node:', error);
                        
                        $('#file-tree').jstree(true).rename_node(data.node, data.old);
                    }
                });
            });
        
            
            function createNode(parentNode, type) {
                let newName = prompt('Enter the name for the new ' + type + ':');
                if (newName) {
                    $.ajax({
                        url: '{% url "create-node" %}',
                        type: 'POST',
                        data: JSON.stringify({
                            'name': newName,
                            'type': type,
                            'parent': parentNode.id
                        }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrf_token 
                        },
                        success: function(response) {
                            $('#file-tree').jstree(true).refresh();
                        },
                        error: function(xhr, status, error) {
                            console.error('Error creating node:', error);
                        }
                    });
                }
            }
        
            
            function deleteNode(node) {
                if (confirm('Are you sure you want to delete this item?')) {
                    $.ajax({
                        url: '{% url "delete-node" %}',
                        type: 'POST',
                        data: JSON.stringify({
                            'id': node.id
                        }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrf_token 
                        },
                        success: function(response) {
                            $('#file-tree').jstree(true).refresh();
                        },
                        error: function(xhr, status, error) {
                            console.error('Error deleting node:', error);
                        }
                    });
                }
            }
        });
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>