{% extends "RevealJsApp/base.html" %}
{% load static %}
{% block title %}Md to Presentations{% endblock title %}

{% block head %}
<style>
    .home {
        height: calc(100vh - 56px - 100px);
        display: flex;
        flex-direction: row;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
    }

    .file-list {
        border-right: 1px solid #ddd;
        overflow-y: auto;
        transition: opacity 0.3s ease;
        flex: 1;
    }

    .file-list.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .preview {
        width: 50%;
        height: 100%;
        flex-grow: 1;
        display: none;
    }

    .content-area {
        flex: 3;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #editor {
        height: 100%;
        flex: 1;
    }

    /* Resizer style */
    .resizer {
        width: 10px;
        cursor: col-resize;
        position: absolute; 
        {% comment %} background-color:black; {% endcomment %}
        top: 0;
        bottom: 0;
        left: 350px; /* Initial position of the resizer */
        z-index: 1;
    }
</style>
{% endblock head %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <!-- Brand or Logo -->
        <a class="navbar-brand" href="/">Home</a>
        
        <!-- Toggler Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/code-editor/">Code Editor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/reveal/">Markdown Presentation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-primary me-2" onclick="saveFileContent()">Save</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-info me-2" id="backbtn" onclick="showFileList()" style="display: none;">Back to File List</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-success" onclick="createNewFile()">New File</button>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center ms-auto">
            <button class="btn btn-warning d-flex justify-content-center align-items-center" id="run" onclick="runCode()">
                <span class="spinner-border spinner-border-sm d-none" id="loader" role="status" aria-hidden="true"></span>
                Run
            </button>
        </div>
    </div>
</nav>

<div class="home">
    <input type="hidden" id="file_id">
    <div class="file-list" id="file-list">
        <h3>Files</h3>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="loadFileContent('{{ file.id }}')" value="{{ file.id }}">{{ file.title }}.md</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Resizer between file list and content area -->
    <div class="resizer" id="resizer"></div>

    <div class="preview" id="preview">
        <iframe src="" id="previewIframe" class="w-100 h-100 border-0"></iframe>
    </div>

    <div class="content-area" id="content-area">
        <h3>File Content</h3>
        <!-- Monaco Editor will be initialized in this div -->
        <div id="editor"></div>
        <input type="hidden" id="file-name">
    </div>
</div>

<script src="{% static 'scripts/myreveal.js' %}"></script>
<script>
    // Resizing logic
    const resizer = document.getElementById('resizer');
    const fileList = document.getElementById('file-list');
    const contentArea = document.getElementById('content-area');

    resizer.addEventListener('mousedown', function(e) {
        e.preventDefault();
        document.addEventListener('mousemove', resize);
        document.addEventListener('mouseup', stopResize);
    });

    function resize(e) {
        const offsetRight = document.body.offsetWidth - (e.clientX);
        fileList.style.width = e.clientX + 'px';
        contentArea.style.width = offsetRight + 'px';
        resizer.style.left = e.clientX + 'px';
    }

    function stopResize() {
        document.removeEventListener('mousemove', resize);
        document.removeEventListener('mouseup', stopResize);
    }
</script>
{% endblock content %}
